---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { getOffres } from "../js/backend.mjs";
import Card from "../components/Card.astro";

const offres = await getOffres();
console.log(offres);
---

<Layout titre="Offres" class="bg-black">
    <h1 class="text-pink-600 text-5xl">Offres</h1>
    <div>
        {
        <div id="offres-container">
            {offres.map((offre) => (
                <div class="offre" data-favoris={offre.favoris.toString()}>
                    <Card offre={offre} />
                </div>
            ))}
        </div>

        }
    </div>
    <button id="favori-button" class="bg-slate-600 rounded-lg text-white p-2"
        >Afficher les favoris</button
    >
</Layout>
<script>
    //@ts-nocheck

    const button = document.getElementById("favori-button");
    let showOnlyFavorites = false;

    button.addEventListener("click", () => {
        showOnlyFavorites = !showOnlyFavorites;
        const offres =
            document.querySelectorAll(".offre");


        offres.forEach((offre) => {
            const isFavori = offre.dataset.favori === "true";

            if (showOnlyFavorites) {
                offre.style.display = isFavori ? "block" : "none";
                button.textContent = "Afficher tout";
            } else {
                offre.style.display = "block";
                button.textContent = "Afficher les favoris";
            }
        });
    });
</script>
